{% extends 'base.html' %}

{%block content%}
<h2 class="mb-4">Cash Management Dashboard</h2>
<div class="row mb-4">
    <div class="col-md-4 mb-3">
        <div class="card border-primary">
            <div class="card-body">
                <h6 class="card-title text-muted">Total Cash Added</h6>
                <h3 class="text-primary">৳{{ total_cash }}</h3>

            </div>
        </div>
    </div>
      <div class="col-md-4 mb-3">
        <div class="card border-danger">
            <div class="card-body">
                <h6 class="card-title text-muted">Total Expenses</h6>
                <h3 class="text-primary">৳{{ total_expense }}</h3>

            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card {% if balance >= 0 %}border-success{% else %}border-warning{% endif %}">
            <div class="card-body">
                <h6 class="card-title text-muted">Balance</h6>
                <h3 class="{% if balance >= 0 %}text-success{% else %}text-warning{% endif %}">৳{{ balance }}</h3>
            </div>
        </div>
    </div>

</div>
{%endblock%}